@{
  Layout = "_Layout";
}

<h1>Welcome to the Eau Claire's Salon Business Tracker!</h1>
<p>@Html.ActionLink("See all see all stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("See all clients", "Index", "Clients")</p>